<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Pig Latinized</title>
    </head>
    <body>
        <h3>Your Pig Latinized word or phrase is: </h3>
        <h2><%= @analyzed_text.piglatinize(params[:user_phrase])%></h2>
    </body>
    
</html>